<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logPattern" value="%d %-5level %logger{35} - %msg%n"/>
    <property name="logEncoding" value="UTF-8"/>
    <property name="logDirectory" value="/var/log"/>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logDirectory}/browser.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${logDirectory}/browser_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>30MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
        <charset>${logEncoding}</charset>
    </encoder>
    </appender>

    <logger name="org.springframework" level="warn"/>

    <root level="INFO">
    <appender-ref ref="fileAppender"/>
    </root>
</configuration>